@import '_default.scss';

$fontcolor: #5f5e60;
$backgroundColor: #eae8df;
$backgroundInherit: #fff;
$accentColor: #2196f3;

$mainFont: 'Open Sans', sans-serif;

body{
    font-family: $mainFont;
}

.flexboxContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.container{
    display: inline-block;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}
header{
    padding-top: 20px;
    //border-bottom: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    min-height: 50px;
    max-height: 50px;
    overflow:hidden;
    h1{
        display: none;
        margin-right: 20px;
        float: left;
        img{
            height: 50px;
        }
    }
    ul{
        list-style: none;
        //float: right;;
        li{
            padding: 10px 20px;
            background-color:  $accentColor;
            float: left;
            margin-right: 20px;
            box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
            &:last-child{
                margin-right: 0;
            }
            a{
                color: white;
                font-weight: 600;
                font-size: 1.5rem;
            }
        }
    }
}

main{
    margin: 0 auto;
    max-width: 960px;
    #about{
        @extend .flexboxContainer;
        height: 100vh;
        text-align: center;
        .spin{
        }
        img{
            height: 300px;
            }
        ul{
            margin: 0 auto;
            list-style: none;
            position: relative;
            li{
                margin-bottom: 50px;
                display: none;
                h2{

                    font-size: 10rem;
                    font-weight: 100;
                    color: #2196f3;
                }
                small{
                    font-size: 2rem;
                    font-weight: 500;
                    color: rgba(0,0,0,0.5);
                }
            }
        }
    }
}

@keyframes spin {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}
@-moz-keyframes spin {
    0% { -moz-transform: rotate(360deg); }
    100% { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin {
    0% {-webkit-transform: rotate(360deg); }
    100% { -webkit-transform: rotate(0deg); }
}
@-o-keyframes spin {
    0% { -o-transform: rotate(360deg); }
    100% { -o-transform: rotate(0deg); }
}
.spin {
    border-radius: 50px 50px 50px 50px;
    animation: spin 4s linear 0s infinite reverse;
    -moz-animation: 4s linear 0s reverse none infinite spin;
    -webkit-animation: spin 4s linear 0s infinite reverse;
    -webkit-animation-play-state: paused;
    -o-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
}
.spin:hover {
    -webkit-animation-play-state: running;
    -o-animation-play-state: running;
    -moz-animation-play-state: running;
    -webkit-animation-play-state: running;
}
.icon {
    animation: spin 20s linear 2s infinite normal;
    -moz-animation: 20s linear 2s normal none infinite spin;
    -webkit-animation: spin 20s linear 2s infinite normal;
    background: #eee;
    border-radius: 100%;
    position: relative;
}

.active{
    display: block !important;
}

#customers{
    @extend .flexboxContainer;
    height: 100vh;
    h2{
        font-weight: 100;
        font-size: 4rem;
        text-align: center;
        margin-bottom: 50px;
    }
    .card-container{
        width: 100%;
        ul{
            overflow: hidden;
            margin: 0 auto;
            text-align: center;
            li{
                text-transform: uppercase;
                @extend .flexboxContainer;
                margin-left: 2%;
                margin-bottom: 2%;
                color: black;
                width: 30%;
                height: 200px;
                float: left;
                font-size: 1.5rem;
                background-color: rgba(0,0,0,0.1);
                box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.5);
                &:hover{
                    background-color: rgba(0,0,0,1);
                    font-size: 3rem;
                    color: white;
                }
                small{
                    display: none;
                    font-size: 1rem;
                    font-weight: 100;
                }
            }
        }

    }
}


#app{
    text-align: center;
    margin-bottom: 300px;
    h2{
        margin-bottom: 50px;
        font-size: 3rem;
        color: $accentColor;
    }

    .card-preview
    {
        display: none;
        .card-header, .card-main{
            padding: 20px;
        }
        .card-main img{
            width: 100px;
        }
        .card-header{
            background-color: rgba(0,0,0,0.1);
        }
        h3{
            font-size: 1.5rem;
            margin-bottom: 50px;
        }
        .container{
            box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
        }
        form{
            overflow: hidden;

        }
        input{
            margin: 0 auto;
            width: 300px;
            font-size: 1.5rem;
            display: block;
            background-color: white;
            box-shadow: none;
            padding: 10px 20px;
            margin-bottom: 20px;
            border: 0;
            box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
            &:hover{
                background-color: black;
                color: white;
            }
        }
        input:last-child{
            margin-bottom: 0;
        }
        a{
            text-decoration: overline;
            display: block;
            font-size: 1.5rem;
            background-color: white;
            box-shadow: none;
            border: 1px solid black;
            padding: 10px 20px;
            margin-bottom: 20px;
            &:hover{
                background-color: black;
                color: white;
            }
        }
        .new-card-info , .moreInfos{
            display: none;
        }
    }
}


// animation
$spinkit-spinner-margin: 40px auto !default;
$spinkit-size: 40px !default;
$spinkit-spinner-color: #5f5e60 !default;

.double-bounce {
  width: $spinkit-size;
  height: $spinkit-size;
  position: relative;
  margin: $spinkit-spinner-margin;
  #eventTicker{
      z-index: 9999;
    text-indent: -9999px;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .child {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $spinkit-spinner-color;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: doubleBounce 2.0s infinite ease-in-out;
  }

  .double-bounce2 {
    animation-delay: -1.0s;
  }
}

@keyframes doubleBounce {
  0%, 100% { transform: scale(0) }
  50% { transform: scale(1.0) }
}

// Blackbox
.black-cards{
    display: none;
    box-sizing: border-box;
    position: relative;
    padding: 20px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    h3{
        font-size: 2rem;
        margin-bottom: 50px;
    }
    .card{
        display: inline-block;
        width: 150px;
        height: 200px;
        margin-right: 10%;
        background-color: rgba(0,0,0,0.2);
        color: white;
        box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
        cursor: pointer;
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            background-color: rgba(0,0,0,1);
        }
        span{
            display: flex;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          vertical-align: middle;
          height: 100%;
          font-size: 3rem;
        }
    }
}

#powered{
    height: 100vh;
    @extend .flexboxContainer;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    h2{
        font-weight: 100;
        text-align: center;
        font-size: 3rem;
        padding: 20px;
        span{
            font-weight: 700;
            color: $accentColor;
        }
    }

    hr{
        width: 60%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    ul{
        display: inline-block;
        text-align: center;
        list-style: none;
        overflow: hidden;
        margin: 0 auto;
        li{
            margin-right: 20px;
            float: left;
            &:last-child{
                margin-right: 20px;
            }
            h4{
                font-size: 2.5rem;
            }
            small{
                font-size: 1.5rem;
                color: rgba(0,0,0,0.5);
            }
        }
    }
}
.goodbye{
    @extend .flexboxContainer;
    position: fixed;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: rgba(0,0,0,0.9);
    display: none;
    color: white;
    font-weight: 100;
    p{
        font-size: 2.5rem;
        margin-bottom: 10px;
    }
    h4{
        text-align: center;
        font-size: 3rem;
    }
    small {
        color: $accentColor;
        font-size: 1.25rem;
        span{
            font-weight: 500;
        }
}
}

footer{

    text-align: center;
    margin: 0 auto;
    input{
        color: white;
        margin: 0 0 50px 0;
        padding: 20px 50px;
        font-size: 2rem;
        background-color: black;
        border: none;
        box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
        &:hover{
            background-color: $accentColor;
        }
    }
}
