{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BoostAd</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'offers/css/style.css' %}">
    </head>
    <body>
        <header>
            <div class="container">
                <h1><a href="#"><img src="{% static 'offers/img/logo_boosterad.svg' %}" alt="Logo" /></a></h1>
            </div>
        </header>
        <main>
            <section id="about">
                <ul id="slideAnimation">
                    <li class="active">
                        <h2>Booster Ad</h2>
                        <small>- Make Ads great again -</small>
                    </li>
                </ul>
                <div class="spin">
                    <img class="icon" src="{% static 'offers/img/logo_boosterad.svg' %}" alt="" />
                </div>
            </section>
            <section id="customers">
                <h2>Our Customers</h2>
                <div class="card-container">
                    <ul>
                        {% for brand in brands%}
                        <li>
                            <p>
                                {{brand.name}}
                            </p>
                            <small>{{brand.description}}</small>
                        </li>

                        {% endfor %}
                    </ul>
                </div>
            </section>
            <section id="app">
                <h2>Prototype</h2>
                <form class="" action="index.html" method="get">
                    <div  class="double-bounce">
                        <div class="child double-bounce1"></div>
                        <div id="eventTicker">eventticker</div>
                        <div class="child double-bounce2"></div>
                    </div>
                    <div class="black-cards">
                        <h3>Choose One!</h3>
                        <div class="card"><span>#1</span></div>
                        <div class="card"><span>#2</span></div>
                    </div>
                </form>

                <div class="card-preview">
                    <h3>Decide between Discount or Fancy Coins!</h3>
<!--<<<<<<< HEAD:public/index.html -->
                    <div class="container">
                        <div class="card-header">
                            <form class="choose-profit" action="index.html" method="post">
                                <!-- Erste Auswahl -->
                                <!-- input -> value = Werte aus der Datenbank-->
                                <input id="percent" type="button" name="percent" value="15%">
                                <input id="discount" type="button" name="discount" value="345 Coins">
                                <!-- neue Karte oder weitere Infos -->
                                <div class="new-card-info">
                                    <input id="new-card" type="button" name="newCard" value="New Card">
                                    <input id="more-infos" type="button" name="moreInfos" value="More Information">
                                </div>
                                <!-- mehr information oder in der schleife eine neue karten -->
                                <div class="moreInfos">
                                    <a href="{% static 'offers/coinShop.html' %}">Coinshop</a>
                                    <a href="{% static 'offers/rabattseite.html' %}">Your Discounts</a>
                                    <input id="return" type="button" name="returntoside" value="Return to page">
                                </div>
                            </form>
                        </div>
                        <div class="card-main">
                            <!--Category-->
                            <!-- <p>
                                Mode
                            </p> -->
                            <!-- Das Logo von der Brand-->
                            <img src="" alt="Logo" />
                        </div>

                    </div>

                </div>
            </section>
            <section id="powered">
                <h2>Awesome work done by #<span>toxicwolves</span></h2>
                <hr>
                <ul>
                    <li>
                        <h4>Vincent Dahmen</h4>
                        <small>Developer</small>
                    </li>
                    <li>
                        <h4>Rafael Heid</h4>
                        <small>Developer</small>
                    </li>
                    <li>
                        <h4>Philipp Klemmer</h4>
                        <small>Developer</small>
                    </li>
                </ul>
            </section>
        </main>
        <div class="goodbye">
            <h4>Thank you for the great weekend!</h4>
            <p>- Make Ads great again -</p>
            <small>#<span>FutureAdHackathon</span></small>
        </div>
        <footer>
            <input type="button" name="name" value="Time to say goodbye">
        </footer>
        <script type="text/javascript" src="{% static 'offers/js/jquery-3.0.0.js' %}"></script>
        <script type="text/javascript" src="{% static 'offers/js/headerSlide.js' %}"></script>
    </body>
</html>
