{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BoostAd</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'offers/css/style.css' %}">
    </head>
    <body>
        <header>
            <div class="container">
                <h1><a href="#"><img src="{% static 'offers/img/logo_boosterad.svg' %}" alt="Logo" /></a></h1>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Profil</a></li>
                </ul>
            </div>
        </header>
        <main>
            <section id="about">
                <div class="spin">
                    <img class="icon" src="{% static 'offers/img/logo_boosterad.svg' %}" alt="" />
                </div>
                <ul id="slideAnimation">
                    <li class="active">
                        <h2>Booster Ad</h2>
                    </li>
                    <li>
                        <h2>Makes you love Ad's</h2>
                    </li>
                    <li>
                        <h2>Even if you don't like them</h2>
                    </li>
                </ul>
            </section>
            <section id="about-visual">
                <h2>Visual Explanation</h2>
                <div>von</div>
                <div>hier nach</div>
                <div>da</div>
            </section>
            <section id="customers">
                <h2>Welche Kunden unterstützen uns schon :P</h2>
                <div class="card-container">
                    <ul>
                        <li>Amazon</li>
                        <li>HVV</li>
                        <li>Was</li>
                        <li>auch</li>
                        <li>immer</li>
                    </ul>
                </div>
            </section>
            <section id="app">
                <h2>Prototype</h2>
                <form class="" action="index.html" method="get">
                    <div  class="double-bounce">
                        <div class="child double-bounce1"></div>
                        <div id="eventTicker">eventticker</div>
                        <div class="child double-bounce2"></div>
                    </div>
                </form>

                <div class="card-preview">
<!--<<<<<<< HEAD:public/index.html -->
                    <div class="container">
                        <div class="card-header">
                            <form class="choose-profit" action="index.html" method="post">
                                <!-- Erste Auswahl -->
                                <!-- input -> value = Werte aus der Datenbank-->
                                <input id="percent" type="button" name="percent" value="15%">
                                <input id="discount" type="button" name="discount" value="345 Coins">
                                <!-- neue Karte oder weitere Infos -->
                                <div class="new-card-info">
                                    <input id="new-card" type="button" name="newCard" value="New Card">
                                    <input id="more-infos" type="button" name="moreInfos" value="More Information">
                                </div>
                                <!-- mehr information oder in der schleife eine neue karten -->
                                <div class="moreInfos">
                                    <a href="{% static 'offers/coinShop.html' %}">Coinshop</a>
                                    <a href="{% static 'offers/rabattseite.html' %}">Your Discounts</a>
                                    <input id="return" type="button" name="returntoside" value="Return to page">
                                </div>
                            </form>
                        </div>
                        <div class="card-main">
                            <p>
                                Mode
                            </p>
                            <!-- Das Logo von der Brand-->
                            <img src="" alt="Logo" />
                        </div>

                    </div>

                </div>
            </section>
            <section id="powered">
                wir halt
            </section>
        </main>
        <footer>
            FutureatAdHackathon
        </footer>
        <script type="text/javascript" src="{% static 'offers/js/jquery-3.0.0.js' %}"></script>
        <script type="text/javascript" src="{% static 'offers/js/headerSlide.js' %}"></script>
    </body>
</html>
